flujo_whatsapp_n8n_v3.json
{
  "name": "ViajeJusto - Flujo Completo AI Agent (Blindado)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.body?.data?.key?.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7200,
        7392
      ],
      "id": "4c06584e-cb9f-4a1e-b82d-431dd2853a54",
      "name": "Evitar Autorespuesta"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-chat/messages-upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        6928,
        7392
      ],
      "id": "3213c811-ce93-4ae2-a6f3-4dfaa2fc4222",
      "name": "Webhook",
      "webhookId": "8cb81619-c7f9-47f7-8587-f15ffa1ceef3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-manager.viaje-justo.xyz/message/sendText/ViajeJusto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"number\": $('Webhook').first().json.body?.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || '',\n  \"text\": $json.output\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7920,
        7376
      ],
      "id": "90595f13-c858-4ac6-a0e7-c48c3e0d2e91",
      "name": "HTTP Request Evolution API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.89.122.250:3002/bot/checkUser",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"phone\": $('Webhook').first().json.body?.data?.key?.remoteJid?.replace('@s.whatsapp.net', '')\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7152,
        7184
      ],
      "id": "e7044139-fa5a-4626-836d-541219f6069a",
      "name": "Check DB Pistas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c-reg",
              "leftValue": "={{ $json.registered }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7312,
        7184
      ],
      "id": "bfc99db9-d572-4a05-a884-8983ba67afee",
      "name": "If Registrado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-manager.viaje-justo.xyz/message/sendText/ViajeJusto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"number\": $('Webhook').first().json.body?.data?.key?.remoteJid?.replace('@s.whatsapp.net', ''),\n  \"text\": \"¡Hola! 👋 Soy *Travel-Just* ✈️, tu conserje de lujo impulsado por IA.\\n\\nVeo que aún no tienes una cuenta en ViajeJusto. Para que pueda ayudarte a armar viajes épicos, buscar lugares increíbles o unirte al viaje de tus amigos, por favor regístrate en menos de 1 minuto aquí:\\n\\n👉 https://viaje-justo.xyz \\n\\n¡Te espero del otro lado para comenzar la aventura! ✨\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7696,
        7056
      ],
      "id": "51755a3d-13bf-478b-a7fe-9e82d3a7329b",
      "name": "Mensaje Rechazo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ !!$('Webhook').first().json.body?.data?.message?.audioMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7520,
        7184
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "If Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ws-manager.viaje-justo.xyz/chat/getBase64FromMediaMessage/ViajeJusto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": { \"audioMessage\": $('Webhook').first().json.body?.data?.message?.audioMessage, \"key\": $('Webhook').first().json.body?.data?.key }, \"convertToMp4\": false } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7696,
        7280
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Get Audio Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aud-qr.viaje-justo.xyz/audio/transcribe-base64",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"base64\": $json.base64, \"mimetype\": $json.mimetype || \"audio/ogg\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7888,
        7280
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Transcribir Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e00b3d5b-1",
              "name": "text",
              "value": "={{ $('Webhook').first().json.body?.data?.message?.conversation || $('Webhook').first().json.body?.data?.message?.extendedTextMessage?.text || 'Archivo enviado o mensaje sin texto' }}",
              "type": "string"
            },
            {
              "id": "e00b3d5b-2",
              "name": "remoteJid",
              "value": "={{ $('Webhook').first().json.body?.data?.key?.remoteJid || 'session_default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7696,
        7450
      ],
      "id": "e00b3d5b-9d4f-4d3f-b88a-d5f4a1c5d333",
      "name": "Extraer Datos Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e00b3d5b-3",
              "name": "remoteJid",
              "value": "={{ $('Webhook').first().json.body?.data?.key?.remoteJid || 'session_default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8044,
        7280
      ],
      "id": "e00b3d5b-9d4f-4d3f-b88a-d5f4a1c5d444",
      "name": "Extraer Datos Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://159.89.122.250:3002/bot/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"phone\": $json.remoteJid,\n  \"text\": $json.text,\n  \"contextString\": \"Nombre: \" + $('If Registrado').first().json.nombre + \"\\nRol: \" + $('If Registrado').first().json.role + \"\\nViaje ID: \" + $('If Registrado').first().json.participante_id\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7504,
        7376
      ],
      "id": "abcde-12345-do-agent-passthrough",
      "name": "DO Agent Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "Evitar Autorespuesta": {
      "main": [
        [
          {
            "node": "Check DB Pistas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Evitar Autorespuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB Pistas": {
      "main": [
        [
          {
            "node": "If Registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Registrado": {
      "main": [
        [
          {
            "node": "If Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Audio": {
      "main": [
        [
          {
            "node": "Get Audio Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer Datos Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Base64": {
      "main": [
        [
          {
            "node": "Transcribir Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio": {
      "main": [
        [
          {
            "node": "Extraer Datos Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Texto": {
      "main": [
        [
          {
            "node": "DO Agent Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Audio": {
      "main": [
        [
          {
            "node": "DO Agent Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DO Agent Chat": {
      "main": [
        [
          {
            "node": "HTTP Request Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef4567890124",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ba51c0e349a30f933c068740a88e1098eae2aebc087f0bde66030135e5bfef6"
  },
  "id": "5faX3zZT3DhW8P85",
  "tags": []
}