flujo_whatsapp_n8n.json
{
    "name": "Asistente IA WhatsApp - ViajeJusto (DigitalOcean)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "evolution-chat",
          "options": {}
        },
        "id": "1-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.body.event }}",
                "rightValue": "messages.upsert",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "c2",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "2-if",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://aa3xpoj4alsywjhbjvbb3r6h.agents.do-ai.run",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 1F1Za6vu5WsmLvR3Rcm4Aeqfrdtu4B8X"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "3-do-agent",
        "name": "Agente IA (DigitalOcean)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          280
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ws-manager.viaje-justo.xyz/message/sendText/ViajeJusto",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "=json",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "jsonBody": "={\n  \"number\": \"{{ $('Webhook').json.body.data.key.remoteJid.split('@')[0] }}\",\n  \"text\": \"{{ $json.output || $json.response || $json.message || $json.data }}\"\n}",
          "options": {}
        },
        "id": "4-evolution",
        "name": "Responder en WhatsApp (Evolution API)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          950,
          280
        ]
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Agente IA (DigitalOcean)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente IA (DigitalOcean)": {
        "main": [
          [
            {
              "node": "Responder en WhatsApp (Evolution API)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "d4dbab8e-a92d-4d0b-ad28-607c40ecb3a6"
  }
